input {
    font-size:15pt;
    height: auto;
    margin: 10px;
}

input[type=text], input[type=email] {
    width: 100%;
}

input[type=number] {
    width: 50%;
}

input.ng-invalid {
    border: 1px darkred;
    background-color: #ff8a80;
}