<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	<link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>

    <link href='css/style.css' rel='stylesheet' type='text/css'>
</head>
    <body ng-app="myApp" >

    <div class="page-container">

        <div class="container">


            <div ng-controller="formularioController as form" layout="column">
                <h1>Identificação</h1>

                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            <input ng-model="form.nome" class="span12" placeholder="Nome Completo" id="inputIcon" required="required" type="text">
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            <input class="span12" ng-model="form.email" placeholder="Email" id="inputIcon" required="required" type="email">
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-phone"></i></span>
                            <input class="span12"  ng-model="form.idade" placeholder="Idade" id="inputIcon" type="number">
                        </div>
                    </div>
                </div>
                <pre>{{form.toString()}}</pre>
            </div>

            <section id="todoapp" ng-controller="todoCtrl">
                <header id="header">
                    <h1>todos</h1>
                    <form id="todo-form" ng-submit="vm.addTodo()">
                        <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
                    </form>
                </header>
                <section id="main" ng-show="todos.length" ng-cloak>
                    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="vm.markAll(!allChecked)">
                    <label for="toggle-all">Mark all as complete</label>
                    <ul id="todo-list">
                        <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                            <div class="view">
                                <input class="toggle" type="checkbox" ng-model="todo.completed">
                                <label ng-dblclick="vm.editTodo(todo)">{{todo.title}}</label>
                                <button class="destroy" ng-click="vm.removeTodo(todo)"></button>
                            </div>
                            <form ng-submit="vm.doneEditing(todo)">
                                <input class="edit" ng-model="todo.title" todo-blur="vm.doneEditing(todo)" todo-focus="todo == editedTodo">
                            </form>
                        </li>
                    </ul>
                </section>
                <footer id="footer" ng-show="todos.length" ng-cloak>
				<span id="todo-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>
                    <ul id="filters">
                        <li>
                            <a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
                        </li>
                        <li>
                            <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
                        </li>
                        <li>
                            <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
                        </li>
                    </ul>
                    <button id="clear-completed" ng-click="vm.clearDoneTodos()" ng-show="doneCount">Clear completed</button>
                </footer>
            </section>

        </div><!--/.container-->
    </div><!--/.page-container-->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/hammerjs/hammer.js"></script>
    <script src="release/js/app.js"></script>

</body>
</html>
